header {
  /*border: solid 1px;*/
  width: 600px;
  margin: auto;
  padding: 2em;
}

h1 {
  display: inline-block;
  float: left;
  font-size: 2em;
}

.main-nav ul {
  display: inline-block;
  float: right;
}

.main-nav li {
  display: inline-block;
}

main {
  width: 600px;
  margin: auto;
}

.container {
  /*border: solid 1px;*/
  padding: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 0.8em 0;
  text-align: center;
}

input, button, textarea {
  font-size: 1.1em;
  margin: 0.2em 0.2em 1em 0.2em;
  padding: 0.6em 1em;
  font-weight: 100;
  outline: none;
  border: 0.5px solid #999;
  border-radius: 2px;
}

input::placeholder, textarea:placeholder {
  color: #bbb;
}

input[type=radio] {
  visibility: hidden;
}

label img {
  border: 1px solid #000;
}

input[type="radio"]:checked+label img {
  /*visibility: visible;*/
  border: 3px solid #666;
}

input[type=text], input[type=password], textarea {
  width: 90%;
  margin: 0.5em 0 1em 0;
}

input[type=submit]:active, input[type=button]:active, button:active {
  color: #fff;
  background: #333;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
  background: #eee;
}
